<header class="masthead d-flex align-items-center">
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
      </div>     
    <div class="container px-4 px-lg-5 text-center">
        <h1 id="gradient-text" class="mb-1">Hi, I'm Julen Zulaika</h1>
        <h3  class="mb-5"><em>Full Stack Developer</em>👨🏻‍💻</h3>
    </div>
</header>

<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h2>About me</h2>
                <p class="lead mb-6">
                    This theme features a flexible, UX friendly sidebar menu and stock photos from our friends at
                    <a href="https://unsplash.com/">Unsplash</a>
                    !
                </p>             
            </div>
        </div>
    </div>
</section>

<section class="content-section bg-primary text-white text-center" id="skills">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
            <h2 id="habilidades" class="mb-5">Skills</h2>
            <p class="text-left">The skills, tools and technologies I use to bring your products to life: </p>

        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <div id="tooltip">
                  <i id="icono" class="devicon-html5-plain"></i>
                      <p class="text-faded mb-5">HTML 5</p>
                      <span class="frontend" id="tooltiptext">Frontend</span>
              </div> 
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <div id="tooltip">
                  <i id="icono" class="devicon-css3-plain"></i>
                  <p class="text-faded mb-1">CSS 3</p>
                  <span class="frontend" id="tooltiptext">Frontend</span>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <div id="tooltip">
                  <i id="icono" class="devicon-javascript-plain"></i>
                  <p class="text-faded mb-1">JavaScript</p>
                  <span class="frontend" id="tooltiptext">Frontend</span>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <div id="tooltip">
                  <i id="icono" class="devicon-angular-plain"></i>
                  <p class="text-faded mb-1">Angular</p>
                  <span class="framework" id="tooltiptext">Framework</span>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <div id="tooltip">
                  <i id="icono" class="devicon-typescript-plain"></i>
                  <p class="text-faded mb-1">TypeScript</p>
                  <span class="backend" id="tooltiptext">Backend</span>
              </div>  
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <div id="tooltip">
                  <i id="icono" class="devicon-angularmaterial-plain"></i>
                  <p class="text-faded mb-1">Angular Material</p>
                  <span class="frontend" id="tooltiptext">Frontend</span>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <div id="tooltip">
                  <i id="icono" class="devicon-php-plain"></i>
                  <p class="text-faded mb-1">PHP</p>
                  <span class="backend" id="tooltiptext">Backend</span>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <div id="tooltip">
                  <i id="icono" class="devicon-python-plain"></i>
                  <p class="text-faded mb-1">Python</p>
                  <span class="backend" id="tooltiptext">Backend</span>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <div id="tooltip">
                  <i id="icono" class="devicon-bootstrap-plain"></i>
                  <p class="text-faded mb-1">Bootstrap</p>
                  <span class="frontend" id="tooltiptext">Frontend</span>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <div id="tooltip">
                  <i id="icono" class="devicon-sass-plain"></i>
                  <p class="text-faded mb-1">Sass</p>
                  <span class="frontend" id="tooltiptext">Frontend</span>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <div id="tooltip">
                  <i id="icono" class="devicon-git-plain"></i>
                  <p class="text-faded mb-1">Git</p>
                  <span class="scm" id="tooltiptext">SCM Tool</span>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <div id="tooltip">
                  <i id="icono" class="devicon-sqldeveloper-plain"></i>
                  <p class="text-faded mb-1">SQL</p>
                  <span class="database" id="tooltiptext">Database</span>
              </div>
            </div>
        </div>
    </div>
</section>
<app-projects></app-projects>