<div id="contenedor" >   
    <div class="container mt-5 p-5">
        <h1><strong>Choreograf Page</strong></h1>

        <p>I developed a customized and resposive website in 3 languages for a client offering choreography services for events and wedding dance coaching.</p>
        <div class="row g-0 mb-3 ">
            <div class="col-sm-4  col-md-4">
                <a href="https://www.choreografkrakow.pl/" target="_blank">The Site</a>
            </div>
            <div class="col-sm-4  col-md-4">
                <h4>Stack</h4>
                <div>Angular</div>
                <div>ASP.NET</div>
                <div>Tailwind CSS</div>
                <div>SCSS</div>
               
            </div>
        </div>

        <h1><strong>Web Stack and Explanation  </strong></h1>
        <p>
            The frontend deployed on Vercel was built with Angular and Tailwind CSS, while the backend includes a Gmail mailing API using ASP.NET which is accessed through an Angular Reactive Form, deployed on Heroku via the Github pipeline.
        </p>
    </div>
</div> 