<div id="contenedor" >   
    <div class="container mt-5 p-5">
        <h1><strong>Cars</strong></h1>

        <p>It was a personal project developed to test the latest technologies using Angular.</p>
        <div class="row g-0 mb-3 ">
            <div class="col-sm-4  col-md-4">
                <h4>Code</h4>
                <a href="https://github.com/JulenZZZ/AngluarCLI17CarsProject" target="_blank">Github</a>
            </div>
            <div class="col-sm-4  col-md-4">
                <h4>Stack</h4>
                <div>Angular</div>
                <div>JavaScript</div>
                <div>HTML</div>
                <div>CSS</div>
               
            </div>
        </div>

        <h1><strong>Web Stack and Explanation  </strong></h1>
        <p>
            I used Angular to create a single-page application that allows users to view a list of cars and their details.
            The application uses Angular's built-in routing and HTTP client modules to fetch data from a JSON file and display it on the page.
            I also used Angular Material to create a responsive and visually appealing user interface.
            The application is deployed to GitHub Pages for easy access and sharing.
        </p>
    </div>
</div> 