<div id="contenedor" >   
    <div class="container mt-5 p-5">
        <h1><strong>Ecommerce</strong></h1>

        <p>Your Refy broker will be your best guide and advisor during the process of buying or refinancing your property.
        Leverages AI tools to calculate the lowest rates and get the financing that suits you best.</p>
        <div class="row g-0 mb-3 ">
            <div class="col-sm-4  col-md-4">
                <h4>Code</h4>
                <a href="https://github.com/JulenZZZ/Webapp_Angular17" target="_blank">Github</a>
            </div>
            <div class="col-sm-4  col-md-4">
                <h4>Stack</h4>
                <div>PHP</div>
                <div>JavaScript</div>
                <div>HTML</div>
                <div>CSS</div>
               
            </div>
        </div>
        <br>
        <div class="col-lg-6">
            <img src="assets/img/Screenshot3.png"  alt="Responsive image">
        </div>
        <br>

        <h1><strong>Project Purpose and Goal</strong></h1>
        <p>Designed the architecture and lead a team of 8 developers to create core features and integrate third party APIs. Integrated machine learning enabled micro-services to calculate credit scores, estimate property values and yield mortgage offers. 
            Leveraged Google Maps API and TensorFlow API.</p>
        
        <h1><strong>Web Stack and Explanation  </strong></h1>
        <p> Built the project using Next.js because of its powerful server-side rendering and dynamic routing. The backend is fully serverless, it handles automated magic link emails (Postmark), 
            auithentication using JWT and Passport, Airtable CRM, and connects to the propietary credit-score and property-estimation microservices (Elastic Beanstalk / Google Maps / TensorFlow).
        
        For the databse I used PostgreSQL and Prisma ORM. I generated the GraphQL schema using Nexus.
        
        To ensure code/platform stability, I Implemented a CI/CD pipeline with Jest for unit testing, Cypress for End to End, Typescript type-checking, database migration, code linting and preview deploys. Finally, I deployed the site to Vercel</p>
    </div>
</div> 