<div id="contenedor" >   
    <div class="container mt-5 p-5">
        <h1><strong>Ecommerce</strong></h1>

        <p>The project was designed to be a scalable e-shop for startups.</p>
        <div class="row g-0 mb-3 ">
            <div class="col-sm-4  col-md-4">
                <h4>Code</h4>
                <a href="https://github.com/JulenZZZ/Webapp_Angular17" target="_blank">Github</a>
            </div>
            <div class="col-sm-4  col-md-4">
                <h4>Stack</h4>
                <div>Angular</div>
                <div>Bootstrap</div>
                <div>WAMP</div>
                <div>TypeScript</div>
               
            </div>
        </div>
        <br>
        <div class="col-lg-6">
            <img src="assets/img/Screenshot3.png"  alt="Responsive image">
        </div>
        <br>
        
        <h1><strong>Web Stack and Explanation  </strong></h1>
        <p> Angular 17 provides a robust framework for building single-page applications with features like two-way data binding, modular architecture, and dependency injection.
            It facilitates the development of dynamic and interactive user interfaces, enhancing the overall user experience.
            By using Bootstrap, you can quickly prototype and develop a visually appealing and mobile-friendly e-shop interface.</p>
    </div>
</div> 