
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">{{title}}</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            The page you are looking for might have been removed or had its name changed or is temporarily unavailable.
            Try clicking this button.         
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <button class="d-inline-flex align-items-center btn btn-warning btn-lg px-4 rounded-pill" type="button">
              <a [routerLink]="['/home']">Home</a>
            
            </button>
            
        </div>
    </div>

