<div id="contenedor" >   
    <div class="container mt-5 p-5">
        <h1><strong>To-Do List App</strong></h1>

        <p>I developed and deployed a To-Do full-stack web app.
            The website features a pending and completed task list.
            It was deployed on an Azure server using a custom domain.
        </p>
        <div class="row g-0 mb-3 ">
            <div class="col-sm-4  col-md-4">
                
                <a href="https://to-do-list-app-angular-frontend.vercel.app/" target="_blank">The Site</a>
            </div>
            <div class="col-sm-4  col-md-4">
                <h4>Stack</h4>
                <div>Angular</div>
                <div>Angular Material</div>
                <div>ASP.NET Core</div>
                <div>SQL Server</div>
               
            </div>
        </div>

        <h1><strong>Project Purpose and Goal</strong></h1>
        <p>Designed so that user can manage their daily basis task with ease.</p>
        
        <h1><strong>Web Stack and Explanation  </strong></h1>
        <p>For this project, I used very interesting technologies such as Angular 19 and Angular Material for the front-end, 
            while using ASP.NET to create the back-end along with a database using SQL Server. 
            The frontend deployed on Vercel and the API on Azure by creating a Service App and migrating the database. </p>
    </div>
</div> 