<div id="contenedor" >   
    <div class="container mt-5 p-5">
        <h1><strong>Orthopedics Store Webpage</strong></h1>

        <p>I was hired to develop and deployed the official website for an orthopedic store.
            The website features a product catalog, contact form, and a blog section.
            It was deployed on a shared hosting server and is maintained by the client
        </p>
        <div class="row g-0 mb-3 ">
            <div class="col-sm-4  col-md-4">
                <h4>Code</h4>
                <a href="https://github.com/JulenZZZ/Grav_Project_ORTOPEDIA_ZARAUTZ" target="_blank">Github</a>
            </div>
            <div class="col-sm-4  col-md-4">
                <h4>Stack</h4>
                <div>PHP</div>
                <div>JavaScript</div>
                <div>HTML</div>
                <div>CSS</div>
               
            </div>
        </div>

        <h1><strong>Project Purpose and Goal</strong></h1>
        <p>Designed so that customers can review the catalog of products that the store offers and can carry out transactions.</p>
        
        <h1><strong>Web Stack and Explanation  </strong></h1>
        <p>For this project, I used the Grav CMS, which is a flat-file CMS that allows you to create websites without the need for a database. 
            I used the Quark theme as a base and customized it to the client's needs. 
            I also used the Form plugin to create the contact form and the Blog plugin to create the blog section.
            The UX/UI design was done by me, and I implemented it using HTML, CSS, and JavaScript. 
            Finally, I deployed the site to Heroku</p>
    </div>
</div> 