<section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Portfolio</h3>
            <h2 class="mb-5">Recent Projects</h2>
        </div>
        <div class="row gx-0">
            <div class="col-lg-6">
                <a class="portfolio-item" [routerLink]="['/ortopedia']">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Orthopedics SAP</div>
                            <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/ortopedia.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" [routerLink]="['/ecommerce']">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">E-commerce Webapp</div>
                            <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/ecommerce.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" [routerLink]="['/cars']">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Car Store</div>
                            <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/carshop.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" [routerLink]="['/portfolio']">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Portfolio Website</div>
                            <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/Screenshot.png" alt="..." />
                </a>
            </div>
        </div>
    </div>
</section>